@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('fonts/Poppins-Regular.ttf');  
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('fonts/Poppins-Light.ttf');  
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('fonts/Poppins-SemiBold.ttf');  
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('fonts/Poppins-Thin.ttf');  
}

.poppins-regular {
  font-family: 'Poppins-Regular';
}

.poppins-thin {
  font-family: 'Poppins-Thin';
}

.poppins-semibold {
  font-family: 'Poppins-Semibold';
}

.poppins-light {
  font-family: 'Poppins-Light';
}

#title {
  font-size: 5rem;
}

#sub-title {
  font-size: 1.5rem;
}